# Simulated Annealing Heuristic Search

In [22]:
import numpy as np
import pandas as pd
import scipy.stats as sy
import random
from IPython.display import display, HTML

In [23]:
def getTest(tf, t1, t2, newArr, beta):
    alpha = 0.1
    for i in range(beta.shape[0]):
        for j in range(newArr.shape[1]):
            if beta[i] == 1: 
                newArr[i][j] = beta[i]*tf[j]
            elif j < t1:
                newArr[i][j] = beta[i]*(tf[j] + (alpha + (tf[j]*0.3)))
            else:
                newArr[i][j] = beta[i]*tf[j]

In [24]:
def cost(data):
    newData = data
    for x in range(4):
        k = (random.randint(0,19-x))
        newData = newData.drop(newData.columns[k], axis=1)
    return newData

In [17]:
def anneal(data):
    display(data)
    T = 1.0
    T_min = 0.0001
    alpha = 0.9
    
    old_cost = 0
    
    while T > T_min:
        i = 1
        new_data = cost(data)
        while i < 4:
            costVal = new_data.iloc[0].corr(new_data.iloc[i])

            if costVal > old_cost and costVal <= 1:
                old_cost = costVal
                match = new_data
                
            i += 1
        T = T *alpha
        
    return old_cost, match

In [27]:
def main():
    tf = np.random.randint(1,10,20)
    
    column = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
    
    beta = np.random.rand(4)
    beta[0] = 1
    
    newArr = np.zeros(shape=(4,20))

    getTest(tf, 16, 4, newArr, beta)
 
    df = pd.DataFrame(newArr, index=beta, columns=column)
    cost, match = anneal(df)
    print(cost)
    display(match)

In [28]:
if __name__ == "__main__":
    main()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1.000000,9.000000,2.000000,7.000000,9.000000,8.000000,4.000000,1.000000,6.000000,8.000000,9.000000,1.000000,4.000000,5.000000,2.000000,5.000000,9.000000,7.000000,4.000000,3.000000,7.000000
0.884939,10.442275,2.389334,8.141435,10.442275,9.291855,4.690174,1.238914,6.991015,9.291855,10.442275,1.238914,4.690174,5.840595,2.389334,5.840595,10.442275,6.194570,3.539754,2.654816,6.194570
0.169742,2.002958,0.458304,1.561628,2.002958,1.782293,0.899634,0.237639,1.340964,1.782293,2.002958,0.237639,0.899634,1.120299,0.458304,1.120299,2.002958,1.188196,0.678969,0.509227,1.188196
0.324263,3.826309,0.875511,2.983224,3.826309,3.404766,1.718596,0.453969,2.561681,3.404766,3.826309,0.453969,1.718596,2.140139,0.875511,2.140139,3.826309,2.269844,1.297054,0.972790,2.269844

0.9947366652140928

,0,1,2,3,5,7,8,9,10,11,12,13,14,15,17,18
1.000000,9.000000,2.000000,7.000000,9.000000,4.000000,6.000000,8.000000,9.000000,1.000000,4.000000,5.000000,2.000000,5.000000,9.000000,4.000000,3.000000
0.884939,10.442275,2.389334,8.141435,10.442275,4.690174,6.991015,9.291855,10.442275,1.238914,4.690174,5.840595,2.389334,5.840595,10.442275,3.539754,2.654816
0.169742,2.002958,0.458304,1.561628,2.002958,0.899634,1.340964,1.782293,2.002958,0.237639,0.899634,1.120299,0.458304,1.120299,2.002958,0.678969,0.509227
0.324263,3.826309,0.875511,2.983224,3.826309,1.718596,2.561681,3.404766,3.826309,0.453969,1.718596,2.140139,0.875511,2.140139,3.826309,1.297054,0.972790

In [20]:
class SimAnneal:
    
    cost = 0
    beta = 0.3
    alpha = 0.9
    
    def __init__(self, relevant, irrelevant):
        self.relevant = relevant
        self.irrelevant = irrelevant
        
    def getTest(self,data):
        """Generates the Test Data"""
        self.data = data
        for i in range(.shape[0]):
            for j in range(newArr.shape[1]):
                if beta[i] == 1:
                    newArr[i][j] = beta[i]*tf[j]
                elif j < t1:
                    newArr[i][j] = beta[i]*(tf[j] + (alpha + (tf[j]*0.3)))
                else:
                    newArr[i][j] = beta[i]*tf[j]
    
    def hardness(self):
        """Determine How Hard the Genes Should Be Tested"""
        
        pass
    
    def anneal(self):
        """Simulated Annealing"""
        T = 1.0
        T_min = 0.001
        
        old_cost = 0
        while T > T_min:
            i = 1
            new_data = cost(data)
            while i < 4:
                costVal = new_data.iloc[0].corr(new_data.iloc[i])

                if costVal > old_cost and costVal <= 1:
                    old_cost = costVal
                    match = new_data
                
                i += 1
            T = T *alpha