In [4]:
import numpy as np
import pandas as pd
import random

In [7]:
def getTest(tf, t1, t2, newArr, beta):
    for i in range(beta.shape[0]):
        for j in range(newArr.shape[1]):
            if j < t1:
                newArr[i][j] = beta[i]*(tf[j] + (beta[i]*tf[j]))
            else:
                newArr[i][j] = beta[i]*tf[j]

In [8]:
tf = np.random.randint(1,10,20)
t1 = 16
t2 = 20 - t1

beta = np.random.rand(3)
newArr = np.zeros(shape=(3,20))
pCoefficient = np.zeros(20)

getTest(tf, t1, t2, newArr, beta)

print(newArr)

[[17.20329574 15.29181843  3.82295461 11.46886383  7.64590922  9.55738652
   5.73443191  1.9114773   7.64590922 17.20329574  1.9114773  11.46886383
  15.29181843  1.9114773  11.46886383 17.20329574  4.85098174  0.97019635
   5.82117809  3.8807854 ]
 [ 6.30009722  5.60008642  1.4000216   4.20006481  2.80004321  3.50005401
   2.10003241  0.7000108   2.80004321  6.30009722  0.7000108   4.20006481
   5.60008642  0.7000108   4.20006481  6.30009722  2.37342488  0.47468498
   2.84810986  1.8987399 ]
 [ 8.03842811  7.14526943  1.78631736  5.35895207  3.57263471  4.46579339
   2.67947604  0.89315868  3.57263471  8.03842811  0.89315868  5.35895207
   7.14526943  0.89315868  5.35895207  8.03842811  2.84592994  0.56918599
   3.41511593  2.27674395]]

In [18]:
df = pd.DataFrame(newArr, index=beta,columns=tf)

In [19]:
df

,9,8,2,6,4,5,3,1,4,9,1,6,8,1,6,9,5,1,6,4
0.970196,17.203296,15.291818,3.822955,11.468864,7.645909,9.557387,5.734432,1.911477,7.645909,17.203296,1.911477,11.468864,15.291818,1.911477,11.468864,17.203296,4.850982,0.970196,5.821178,3.880785
0.474685,6.300097,5.600086,1.400022,4.200065,2.800043,3.500054,2.100032,0.700011,2.800043,6.300097,0.700011,4.200065,5.600086,0.700011,4.200065,6.300097,2.373425,0.474685,2.848110,1.898740
0.569186,8.038428,7.145269,1.786317,5.358952,3.572635,4.465793,2.679476,0.893159,3.572635,8.038428,0.893159,5.358952,7.145269,0.893159,5.358952,8.038428,2.845930,0.569186,3.415116,2.276744