# Simulated Annealing Heuristic Search

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as sy
import random
from IPython.display import display, HTML

In [2]:
def getTest(tf, t1, t2, newArr, beta):
    alpha = 0.1
    for i in range(beta.shape[0]):
        for j in range(newArr.shape[1]):
            if beta[i] == 1: 
                newArr[i][j] = beta[i] * tf[j]
            elif j < t1:
                newArr[i][j] = beta[i]*(tf[j] + (alpha + (tf[j]*0.3)))
            else:
                newArr[i][j] = beta[i]*tf[j]

In [3]:
def cost(data):
    newData = data
    for x in range(4):
        k = (random.randint(0,19-x))
        newData = newData.drop(newData.columns[k], axis=1)
    return newData

In [7]:
def anneal(data):
    display(data)
    T = 1.0
    T_min = 0.0001
    alpha = 0.9
    
    old_cost = 0
    
    while T > T_min:
        i = 1
        new_data = cost(data)
        while i < 4:
            costVal = new_data.iloc[0].corr(new_data.iloc[i])

            if costVal > old_cost and costVal <= 1:
                old_cost = costVal
                match = new_data
                
            i += 1
        T = T *alpha
        
    return old_cost, match

In [8]:
def main():
    tf = np.random.randint(1,10,20)
    
    column = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
    
    beta = np.random.rand(4)
    beta[0] = 1
    
    newArr = np.zeros(shape=(4,20))

    getTest(tf, 16, 4, newArr, beta)
 

    df = pd.DataFrame(newArr, index=beta, columns=column)
    cost, match = anneal(df)
    print(cost)

In [9]:
if __name__ == "__main__":
    main()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
1.000000,6.000000,1.000000,2.000000,7.000000,1.000000,8.000000,3.000000,2.000000,3.000000,6.000000,4.000000,3.000000,7.000000,6.000000,1.000000,2.000000,6.000000,9.000000,9.000000,2.000000
0.482509,3.811818,0.675512,1.302773,4.439079,0.675512,5.066340,1.930034,1.302773,1.930034,3.811818,2.557295,1.930034,4.439079,3.811818,0.675512,1.302773,2.895051,4.342577,4.342577,0.965017
0.316405,2.499597,0.442967,0.854293,2.910923,0.442967,3.322249,1.265619,0.854293,1.265619,2.499597,1.676945,1.265619,2.910923,2.499597,0.442967,0.854293,1.898428,2.847642,2.847642,0.632809
0.535161,4.227774,0.749226,1.444935,4.923484,0.749226,5.619193,2.140645,1.444935,2.140645,4.227774,2.836355,2.140645,4.923484,4.227774,0.749226,1.444935,3.210968,4.816452,4.816452,1.070323

0.9985890981539147