In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
def getTest(tf, t1, t2, newArr, beta, alpha):
    for i in range(beta.shape[0]):
        for j in range(newArr.shape[1]):
            if j < t1:
                newArr[i][j] = beta[i]*(tf[j] + (alpha + (tf[j]*0.3)))
            else:
                newArr[i][j] = beta[i]*tf[j]

In [3]:
tf = np.random.randint(1,10,20)
t1 = 16 
t2 = 20 - t1

alpha = 0.1

beta = np.random.rand(3)

newArr = np.zeros(shape=(3,20))
pCoefficient = np.zeros(20)

getTest(tf, t1, t2, newArr, beta, alpha)

print(newArr)

[[ 3.43971748 10.14716656  1.20390112  2.3218093   7.9113502   5.67553384
   9.02925838  1.20390112  5.67553384  2.3218093   7.9113502  10.14716656
   1.20390112  6.79344202  2.3218093   9.02925838  2.57978811  5.15957622
   2.57978811  1.71985874]
 [ 0.06063861  0.17888389  0.02122351  0.04093106  0.13946879  0.1000537
   0.15917634  0.02122351  0.1000537   0.04093106  0.13946879  0.17888389
   0.02122351  0.11976125  0.04093106  0.15917634  0.04547895  0.09095791
   0.04547895  0.0303193 ]
 [ 3.26552762  9.63330648  1.14293467  2.20423114  7.51071352  5.38812057
   8.57201     1.14293467  5.38812057  2.20423114  7.51071352  9.63330648
   1.14293467  6.44941705  2.20423114  8.57201     2.44914571  4.89829143
   2.44914571  1.63276381]]

In [4]:
df = pd.DataFrame(newArr, index=beta,columns=tf)

In [5]:
df

,3,9,1,2,7,5,8,1,5,2,7,9,1,6,2,8,3,6,3,2
0.859929,3.439717,10.147167,1.203901,2.321809,7.911350,5.675534,9.029258,1.203901,5.675534,2.321809,7.911350,10.147167,1.203901,6.793442,2.321809,9.029258,2.579788,5.159576,2.579788,1.719859
0.015160,0.060639,0.178884,0.021224,0.040931,0.139469,0.100054,0.159176,0.021224,0.100054,0.040931,0.139469,0.178884,0.021224,0.119761,0.040931,0.159176,0.045479,0.090958,0.045479,0.030319
0.816382,3.265528,9.633306,1.142935,2.204231,7.510714,5.388121,8.572010,1.142935,5.388121,2.204231,7.510714,9.633306,1.142935,6.449417,2.204231,8.572010,2.449146,4.898291,2.449146,1.632764