# Simulated Annealing Heuristic Search

In [107]:
import numpy as np
import pandas as pd
import scipy.stats as sy
import random
from IPython.display import display, HTML

In [113]:
def getTest(tf, t1, t2, newArr, beta):
    alpha = 0.1
    for i in range(beta.shape[0]):
        for j in range(newArr.shape[1]):
            if j < t1:
                newArr[i][j] = beta[i]*(tf[j] + (alpha + (tf[j]*0.3)))
            else:
                newArr[i][j] = beta[i]*tf[j]

In [114]:
def cost(data):
    newData = data
    for x in range(4):
        k = (random.randint(0,19-x))
        newData = newData.drop(newData.kcolumns[k], axis=1)
    return newData

In [115]:
def anneal(data):
    display(data)
    old_data = cost(data)
    display(old_data)
    T = 1.0
    T_min = 0.0001
    alpha = 0.9
    
    while T > T_min:
        i = 1
        while i <= 100:
            new_data = cost(data)
            if i == 1:
                old_costVal = sy.stats.pearsonr(old_data,new_data)
            costVal = sy.stats.pearson(old_data, new_data)
            if costVal > old_cost:
                old_cost = cost
                pairedList_1 = old_data
                pairedList_2 = new_data
            i += 1
            
        T = T *alpha
        
    return cost, pairedList_1, pairedList_2

In [111]:
def main():
    tf = np.random.randint(1,10,20)

    column = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
    
    beta = np.random.rand(3)

    newArr = np.zeros(shape=(3,20))
    pCoefficient = np.zeros(20)

    getTest(tf, 16, 4, newArr, beta)

    df = pd.DataFrame(newArr, index=beta, columns=column)
    cost, pairedList_1, pairedList_2 = anneal(df)

In [112]:
if __name__ == "__main__":
    main()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0.850552,8.930792,1.190772,2.296489,10.036509,2.296489,6.719358,10.036509,8.930792,4.507923,5.613641,3.402206,2.296489,8.930792,5.613641,5.613641,1.190772,5.103310,5.103310,7.654964,2.551655
0.257349,2.702164,0.360289,0.694842,3.036717,0.694842,2.033057,3.036717,2.702164,1.363949,1.698503,1.029396,0.694842,2.702164,1.698503,1.698503,0.360289,1.544094,1.544094,2.316140,0.772047
0.042303,0.444182,0.059224,0.114218,0.499176,0.114218,0.334194,0.499176,0.444182,0.224206,0.279200,0.169212,0.114218,0.444182,0.279200,0.279200,0.059224,0.253818,0.253818,0.380727,0.126909

,0,1,5,7,8,9,10,11,12,13,14,15,16,17,18,19
0.850552,8.930792,1.190772,6.719358,8.930792,4.507923,5.613641,3.402206,2.296489,8.930792,5.613641,5.613641,1.190772,5.103310,5.103310,7.654964,2.551655
0.257349,2.702164,0.360289,2.033057,2.702164,1.363949,1.698503,1.029396,0.694842,2.702164,1.698503,1.698503,0.360289,1.544094,1.544094,2.316140,0.772047
0.042303,0.444182,0.059224,0.334194,0.444182,0.224206,0.279200,0.169212,0.114218,0.444182,0.279200,0.279200,0.059224,0.253818,0.253818,0.380727,0.126909

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()